<!Doctype Html>
<Html>
    <head>
        <title>Tag Predictor</title>
        <link rel="stylesheet" href="static\style.css">
    </head>
    <body>
        <div class="head">
            Tag Predictor 
        </div>

        <div class="text">
            <form  method="post">
                <textarea name="question" style="outline:none" placeholder="Enter Your Query" rows="6" cols="50"></textarea>
                <br/>

                <input type="submit" name="action" value="Predict">
            </form>
        </div>
    </body>

</Html>